<h1>SURVEYS</h1>

<div>
  <%= link_to "Create a new survey", new_survey_path %>
</div>
</br>

<div>
  ------------CREATED SURVEYS-------------
</div>

</br>
<% @surveys.each do |survey| %>
  <%= link_to survey.question, survey_path(survey) %><br>
  <%= (@survey_responses[survey.id][:yes]) %>% yes
  <%= (@survey_responses[survey.id][:no]) %>% no
  <br>
  <br>
<% end %>
