<h1>SURVEYS</h1>
<div>
  <%= link_to "Create a new survey", new_survey_path %>
</div>
</br>
<div>
  ------------CREATED SURVEYS-------------
</div>
</br>
<% @surveys.each do |survey| %>
  <%= link_to survey.question, survey_path(survey) %><br>
  <% total_choices = survey.survey_responses.count %>
  <% tallied_choices = survey.survey_responses.group(:survey_choice_id).count %>
  <% survey.survey_choices.each do |choice| %>
    <% count = tallied_choices[choice.id].present? ? (tallied_choices[choice.id] / total_choices.to_f) * 100 : 0 %>
    <h1><%= choice.choice %> - <%= count  %> </h1>
  <% end %>
  <br>
  <br>
<% end %>
